*{
    font-style: initial;
    color: black;
    font-family: 'Russo One', sans-serif;
}
body {
	min-height: 100vh;
    margin: 0;
}

#app {
    min-height: inherit;
}
.wrapper {
    min-height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

header {
    background-color:lightskyblue;
}


footer {
    background-color:lightskyblue;
}

.product-logo {
    font-size: 40px;
}

.flex-block {
    display: flex;
    align-items: center;
}

.copiryght-info {
    justify-content: space-evenly;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px 0;
}
 .copiryght-info{
    font-size: 20px;
 }