*{
    font-style: initial;
    color: #fff;
    font-family: 'Russo One', sans-serif;
}
body {
	min-height: 100vh;
    margin: 0;
}

#app {
    min-height: inherit;
}
.page {
    min-height: inherit;
    display: flex;
    flex-direction: column;
  }

.header {
    position: relative;
    display: flex;
    align-items: center;
    background-color:lightskyblue;
    flex-shrink: 0;
    height: 80px;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6)
}

.content {
    position: relative;
    flex-grow: 1;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
}

.footer {
    position: relative;
    background-color:lightskyblue;
    flex-shrink: 0;
    height: 90px;
    background-image: radial-gradient(circle at center, #899Dc4, #495D84);
    background-size: cover;
    background-repeat: no-repeat;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
}

.header::after {
    bottom: 0;
}

.footer::before{
    top: 0;
}

.header::after,
.footer::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    background-color: white;
    box-shadow: 0 0 20px 5px rgb(100 100 255 / 40%);
    z-index: 1;
}

.product-logo {
    font-size: 40px;
}

.flex-block {
    display: flex;
    align-items: center;
}

.copiryght-info {
    justify-content: center;
    min-width: 300px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 20px;
}

.copiryght-info-text{
    font-size: 20px;
    margin-right: 25px;
}
 .company-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.container-info {
    margin: auto;
    padding: 15px 0;
}

img {
    width: 100%;
    height: auto;
}

@media (min-width: 1280px) {
    .container-info {
        width: 1200px;
    }
}
@media (min-width: 769px) and (max-width: 1279px) {
    .container-info {
        width: 750px;
    }
}