@model IEnumerable<AddPicturesToDB.Models.LessonPicture>
@{
	ViewBag.Title = "Добавление пользователя";
}
<form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
	<p>
		<label>Описание</label>
		<input name="Title" class="form-control" />
	</p>
	<p>
		<label>Позиция</label>
		<input name="Position" class="form-control" />
	</p>
	<p>
		<label>Картинка</label>
		<input name="Picture" type="file" accept=".png" class="form-control" />
	</p>
	<p>
		<input type="submit" value="Добавить" />
	</p>
</form>
<h3>Все картинки</h3>
@foreach (var p in Model)
{
<div>
	<h4>@p.Title</h4>
	@if (p.Picture != null)
	{		
		<img src="data:image/png;base64,@(Convert.ToBase64String(p.Picture))" />
	}
</div>
}
