@model IEnumerable<AddPicturesToDB.Models.LessonPicture>
@{
	ViewBag.Title = "Добавление пользователя";
}
<form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
	<p>
		<label>Описание</label>
		<input name="title" class="form-control" />
	</p>
	<p>
		<label>Позиция</label>
		<input name="position" class="form-control" />
	</p>
	<p>
		<label>Картинка</label>
		<input name="picture" type="file" accept=".jpg" class="form-control" />
	</p>
	<p>
		<input type="submit" value="Добавить" />
	</p>
</form>
<h3>Все картинки</h3>
@foreach (var p in Model)
{
	<div>
		<h4>@p.title</h4>
		@if (p.picture != null)
		{
			<img style="width:80px; height:60px;" src="data:image/jpeg;base64,@(Convert.ToBase64String(p.picture))" />
		}
	</div>
}
